body {
    font-family: "Vollkorn", serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    width: 80%; /* または好みの幅 */
    margin-left: auto;
    margin-right: auto;
    padding: 20px; /* 内側の余白 */
}

.bio {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.bio img {
    max-width: 240px; 
    background-color: #ddd; /* Placeholder background color */
    margin-right: 70px;
}

.bio div {
    flex: 1;
}

.bio h1 {
    font-family: "Zen Old Mincho", serif;
    margin: 0;
    font-size: 32px;
}

.bio h2 {
    font-family: "Vollkorn SC", serif;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 24px;
}

.bio p {
    font-size: 16px;
    line-height: 1.5;
}

.news, .research-interest, .publication {
    margin-top: 50px;
}

.news h3 {
    font-family: "Vollkorn SC", serif;
    border-bottom: 4px solid #C96831;
    margin-bottom: 10px;
    font-size: 24px;
}

.research-interest h3 {
    font-family: "Vollkorn SC", serif;
    border-bottom: 4px solid #50837E;
    margin-bottom: 10px;
    font-size: 24px;
}

.publication h3 {
    font-family: "Vollkorn SC", serif;
    border-bottom: 4px solid #e3ba00;
    margin-bottom: 10px;
    font-size: 24px;
}

.news ul, .research-interest ul {
    font-size: 16px;
    list-style-type: none;
    padding-left: 0;
}

.news ul li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.news .date {
    width: 150px; /* 日時部分の固定幅（必要に応じて調整） */
    flex-shrink: 0;
    text-align: left;
    font-weight: bold;
    color: #333;
}

.news .content {
    flex-grow: 1;
    text-align: left;
    color: #555;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.card {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}
.card-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
}
.card-content {
    flex: 1;
}
.card-title {
    font-size: 18px;
    margin: 0 0 2px 0;
}
.card-text {
    font-size: 16px;
    margin: 0 0 2px 0;
}
.card-conf {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 2px 0;
}
.card-links a {
    text-decoration: none;
    color: #007BFF;
}